<div class='lesson_container'>
  <div class='lesson_grid'>
    <div id='startTime' class='startTime_area'><p>08:00</p></div>
    <div id='middleTime' class='middleTime_area'><p>09:00</p></div>
    <div id='endTime' class='endTime_area'><p>10:00</p></div>
      
    <div id='thumbnail' class='thumbnail_area'>
      <img class='thumbnail_img' src='assets/icons/lesson_thumbnail.png'>
    </div>
    <div id='description' class='description_area'></div>
      
    <div id='startTimeBorder' class='startTimeBorder_area'></div>
    <div id='middleTimeBorderTop' class='middleTimeBorderTop_area'></div>
    <div id='middleTimeBorderBottom' class='middleTimeBorderBottom_area'></div>
    <div id='endTimeBorder' class='endTimeBorder_area'></div>
  </div>
</div>
  
  