<div class='lesson_container'>
  <div class='lesson_grid'>
    <div id='startTime' class='startTime_area'><p>08:00</p></div>
    <div id='middleTime' class='middleTime_area'><p>09:00</p></div>
    <div id='endTime' class='endTime_area'><p>10:00</p></div>
      
    <div id='thumbnail' class='thumbnail_area'>
      <img class='thumbnail_img' src='assets/icons/lesson_thumbnail.png'>
    </div>
    <div id='description' class='description_area'>
      <div class='lesson_title'>
        <p>This is the title of my lesson</p>
      </div> 
      <div class='lesson_description'>
        <p>This lesson will explain why calculus is needed for engineering. Also, students will learn the fundamentals of integrals, and how they can be used to cacluclate surface areas and volume of geometric shapes. I might have to add more to this lesson plan, but I am not quite sure yet, at the moment... I may need to dicuss how calculus was developed, and what led to the creation and need of calculus.</p>
      </div>
    </div>
      
    <div id='startTimeBorder' class='startTimeBorder_area'></div>
    <div id='middleTimeBorderTop' class='middleTimeBorderTop_area'></div>
    <div id='middleTimeBorderBottom' class='middleTimeBorderBottom_area'></div>
    <div id='endTimeBorder' class='endTimeBorder_area'></div>
  </div>
</div>
  
  