<!--The content below is only a placeholder and can be replaced.-->
<div id='content_container'>
  <div id='top_menu_container'>
    <div id='top_menu_content_container'>
      <div id='profile_content_container'>

        <div id='profile_content'>
          <div id='profile_image_block'>

            <div id='circle_square'>
              <div id='profile_img_circle'>
                <img id='profile_img'src='assets/home_icons/john_doe.png'>
              </div>
              <div id='menu_arrow_container'>
                <img id='menu_arrow' src='assets/home_icons/arrow.png'>
              </div>
            </div>

          </div>
          <div id='name_school_text_container'>
            <div id='profile_text_container'>
              <div id='profile_text_top'>
                <p>BEN WALLACE</p>
              </div>
              <div id='profile_text_bottom'>
                <p>School</p>
              </div>
            </div>
          </div>
        </div>


      </div>
      <div id='top_menu_content_title'><p>Home</p></div>
      <div id='top_menu_button_container'>
        <div id='top_menu_button'>
          <img src='assets/home_icons/plus_button.png'>
        </div>
      </div>
    </div>
    <div id='menu_container'>
      <div class='menu_row'>
        <div class='menu_button_container'>
          <div class='menu_button'>
            <div class='menu_logo_container'>
              <img src='assets/menu_icons/profile_person.png'>
            </div>
            <div class='menu_text_container'>
              <p>Profile</p>
            </div>
          </div>
        </div>
      </div>
      <div class='menu_row'>
        <div class='menu_button_container'>
          <div class='menu_button'>
            <div class='menu_logo_container'>
              <img src='assets/menu_icons/bookmark.png'>
            </div>
            <div class='menu_text_container'>
              <p>My Classes</p>
            </div>
          </div>
        </div> 
      </div>
      <div class='menu_row'>
        <div class='menu_button_container'>
          <div class='menu_button'>
            <div class='menu_logo_container'>
              <img src='assets/menu_icons/catalog.png'>
            </div>
            <div class='menu_text_container'>
              <p>Catalog</p>
            </div>
          </div>
        </div> 
      </div>
      
      <div class='menu_row'>
        <div class='menu_button_container'>
          <div class='menu_button'>
            <div class='menu_logo_container'>
              <img src='assets/menu_icons/settings.png'>
            </div>
            <div class='menu_text_container'>
              <p>Settings</p>
            </div>
          </div>
        </div> 
      </div>


      <div class='menu_row'>
        <div class='menu_button_container'>
          <div class='menu_button'>
            <div class='menu_logo_container'>
              <img src='assets/menu_icons/support.png'>
            </div>
            <div class='menu_text_container'>
              <p>Support</p>
            </div>
          </div>
        </div> 
      </div>
      <div class='menu_row'>
        <div class='menu_button_container'>
          <div class='menu_button'>
            <div class='menu_logo_container'>
              <img src='assets/menu_icons/logout.png'>
            </div>
            <div class='menu_text_container'>
              <p>Logout</p>
            </div>
          </div>
        </div> 
      </div>

      
    </div>
    <div id='search_content_container'></div>
  </div>

  <div id='main_content'>
    <div id='centered_content'>
      <div class='content_box'>
        <app-calendar-lessons></app-calendar-lessons>
      </div>
      <div class='content_divider'></div>
      <div class='content_box'>
        <app-timely-resources></app-timely-resources>
      </div>
    </div> 
  </div>


  <div id='footer_menu_container'>
    <div class='footer_button_container'>
      <div class='footer_button'>
        <div class='footer_button_img_container'>
          <img class='footer_img' src='assets/home_icons/home.png'> 
        </div>
        <div class='footer_button_img_text'>
          <p class='blue'>Home</p>
        </div>
      </div>
    </div>

    <div class='footer_button_container'>
      <div class='footer_button'>
        <div class='footer_button_img_container'>
          <img class='footer_img' src='assets/home_icons/calendar.png'> 
        </div>
        <div class='footer_button_img_text'>
          <p class='grey'>Calendar</p>
        </div>
      </div>
    </div>

    <div class='footer_button_container'>
      <div class='footer_button'>
        <div class='footer_button_img_container'>
          <img class='footer_img' src='assets/home_icons/lesson_plans.png'> 
        </div>
        <div class='footer_button_img_text'>
          <p class='grey'>Lesson Plans</p>
        </div>
      </div>
    </div>

    <div class='footer_button_container'>
      <div class='footer_button'>
        <div class='footer_button_img_container'>
          <img class='footer_img' src='assets/home_icons/room_control.png'> 
        </div>
        <div class='footer_button_img_text'>
          <p class='grey'>Room Control</p>
        </div>
      </div>
    </div>

    <div class='footer_button_container'>
      <div class='footer_button'>
        <div class='footer_button_img_container'>
          <img class='footer_img' src='assets/home_icons/chat.png'> 
        </div>
        <div class='footer_button_img_text'>
          <p class='grey'>Chat</p>
        </div>
      </div>
    </div>
  </div>


</div>